# Python
__pycache__/
*.py[cod]
*$py.class
.pyc
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.env

# Model Checkpoints (Strictly enforce ignoring large weight files)
*.pth
*.pth.tar
*.pt
checkpoints/

# Evaluation Metrics & Results
results/
*.json
*.csv

# Large Datasets
data/
*.db
*.sqlite
NAS-Bench-201-v1_1-096897.pth
